<a href="https://colab.research.google.com/github/lellabhaskar/DataScience/blob/main/5p_DecisionTrees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!ls

data.csv  sample_data

In [4]:
import numpy as np
import pandas as pd
data =pd.read_csv('data.csv')
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [5]:
df=data.iloc[:,[1,2,5,6,9]] #dynamically taken the columns
df.head()

  diagnosis  radius_mean  area_mean  smoothness_mean  concave points_mean
0         M        17.99     1001.0          0.11840              0.14710
1         M        20.57     1326.0          0.08474              0.07017
2         M        19.69     1203.0          0.10960              0.12790
3         M        11.42      386.1          0.14250              0.10520
4         M        20.29     1297.0          0.10030              0.10430

In [6]:
y=df.pop('diagnosis') # Remove the feature from df and put into y

In [7]:
x=df # all my input is x and all my output is y.

In [8]:
# y = f(x) -> equation for DecisionTree 
from sklearn.model_selection import train_test_split
xtrain,xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
# Decision Tree, Random Forest -> work on relative comparison
# Normalizing and Not Normalizing data may not cause any difference at all